/* CSS BY ASHLYN FIRLIK */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
--midnight-blue: #1F2A44;
--olive-green: #76885B;
--champagne-gold: #E5C185;
--linen: #F8F4EC;
--dark-charcoal: #2B2B2B;
--soft-white: #FAF9F6;
}

/* GLOBAL STYLES */
section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main {
        max-width: 95%;
        margin: 0 auto;
    }

/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    section:nth-of-type(3) > div {
        grid-template-columns: repeat(2, 1fr);
    }
    section:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    section:nth-of-type(2) > h2 {
        grid-column: 1/-1;
    }
    section:nth-of-type(2) > div:nth-of-type(3) {
        grid-column: 1/-1;
        justify-content: center;
    }
    main {
        max-width: 95%;
        margin: 0 auto;
    }
    section:nth-of-type(2) > div:first-of-type > h3 {
    max-width: 8ch;
    }
}

/* MEDIA QUERY (large) */
@media (min-width: 900px) {
    section:nth-of-type(3) > div {
        grid-template-columns: repeat(3, 1fr);
    }
    section:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    section:nth-of-type(2) > h2 {
        grid-column: 1/-1;
    }
    section:nth-of-type(2) > div:nth-of-type(3) {
        grid-column: 1/-1;
        justify-content: center;
    }
    main {
        max-width: 95%;
        margin: 0 auto;
    }
}

/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {
    section:nth-of-type(3) > div {
        grid-template-columns: repeat(5, 1fr);
    }
    section:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    section:nth-of-type(2) > h2 {
        grid-column: 1/-1;
    }
    section:nth-of-type(2) > div:nth-of-type(3) {
        grid-column: 1/-1;
        justify-content: center;
    }
    main {
        max-width: 90%;
        margin: 0 auto;
    }
    section:nth-of-type(2) > div:nth-of-type(2) > h3 {
        max-width: 16ch;
    }
}

header {
    background-color: var(--midnight-blue);
    color: var(--linen);
    text-align: center;
}

header p {
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: lighter;
}

header img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    padding-top: 25px;
}

h1 {
    font-size: 3.8rem;
    padding-top: 20px;
    font-weight: bold;
}

h2 {
    font-size: 2.2rem;
    font-weight: lighter;
    color: var(--midnight-blue);
    padding-top: 2rem;
}

h3 {
    color: var(--linen);
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem 1rem 0.5rem 1rem;
    line-height: 3rem;
}

nav {
    background-color: var(--champagne-gold);
    padding: 1em;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-size: 1.6rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: playfair display;
}

section:first-of-type {
    margin: 0 auto;
}

section:first-of-type > h2 {
    padding-top: 70px;
    padding-bottom: 10px;
}

section:first-of-type > p {
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
    color: var(--dark-charcoal);
}

section:nth-of-type(2) {
    border-top: 2px solid var(--champagne-gold);
    border-bottom: 2px solid var(--champagne-gold);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

section:nth-of-type(2) > div {
    background-color: var(--olive-green);
    border-radius: 0.5rem;
}

section:nth-of-type(2) > div > p {
    line-height: 1.8rem;
    padding: 0 1rem 1rem 1rem;
    color: var(--linen);
    padding-right: 2rem;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
}

section:nth-of-type(2) > div > ul {
    line-height: 1.8rem;
    list-style-type: disc;
    color: var(--linen);
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

section:nth-of-type(3) > p:first-of-type {
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    color: var(--dark-charcoal);
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 2px 5px 10px grey;
    margin: 0;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}

figcaption {
    padding: 10px 2px 20px 2px;
    text-align: center;
    font-style: italic;
    color: var(--dark-charcoal);
}

section:nth-of-type(3) {
    border-bottom: 2px solid var(--champagne-gold);
    margin-bottom: 2.5rem;
}

section:nth-of-type(3) > div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

section:nth-of-type(3) > p:last-of-type {
    grid-column: 1/-1;
    border-radius: 0.4rem;
    justify-self: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: var(--olive-green);
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--linen);
    text-decoration: none;
    font-weight: bold;
}

section:nth-of-type(3) a {
    color: var(--linen);
    text-decoration: none;
    font-weight: bold;
    
}

footer {
    background-color: var(--midnight-blue);
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 30px 20px;
    color: var(--linen);
}

address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    padding-top: 45px;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 45px;
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
}
